<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LA CARTA</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/img/menu.png">
</head>

<body>
  <header>
<h1>Nuestro Restó <br>Carta</h1>
  </header>
  <aside>
    <nav>
        <ul>
            <li>Entradas</li>
            <li>Platos principales</li>
            <li>Ensaladas</li>
            <li>Raws</li>
            <li>Postres</li>
            <li>Desayuno y <br>Meriendas</li>
            <li>Bebidas</li>
            <li>Smoothies</li>
            <li>Te y cafe</li>
            <li>Vinos</li>
            <li>Cervezas</li>
           
        </ul>
    </nav>
  </aside>
  <main>
<h2>Entradas</h2>
<img class="imagen" src="/img/foto-entradas.jpg" alt="">

<p><h5>Muzzarella Sticks</h5>
    Bastones de muzzarella rebozados
</p>
<p><h5>Jalapeños rellenos</h5>
    Jalapeños rellenos de langostinos <br>
y queso Cheddar con panceta.
</p>
<p><h5>Ración de Rabas</h5>
    220 gr. de chicharrón de calamar <br>
frito con alioli
</p>
<p><h5></h5>
    
</p>
<p><h5></h5>
    
</p>
<p><h5></h5>
    
</p>
<p><h5></h5>
    
</p>
<p><h5></h5>
    
</p>
<p><h5></h5>
    
</p>

  </main>
  <footer>


  </footer>
</body>

</html>